name: Java CI with Maven

on:
  workflow_dispatch: 
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
        - os: ubuntu-latest
          packageName: Linux
          URL_ARMIPS: https://github.com/SydMontague/armips/releases/download/v0.11.0/armips_linux64
          FILE_3DSTOOL: "3dstool_linux_x86_64.tar.gz"
          FILE_CTRTOOL: "ctrtool-v0.7-ubuntu_x86_64.zip"
          FILE_MAKEROM: "makerom-v0.17-ubuntu_x86_64.zip"
          URL_3DSTEX: https://github.com/Cruel/3dstex/releases/download/1.1/3dstex-linux-x64
          executableExtension: ""
          wgetPath: "wget"
        - os: windows-latest
          packageName: Windows
          URL_ARMIPS: https://github.com/SydMontague/armips/releases/download/v0.11.0/armips_win64.exe
          FILE_3DSTOOL: "3dstool.zip"
          FILE_CTRTOOL: "ctrtool-v0.7-win_x86_64.zip"
          FILE_MAKEROM: "makerom-v0.17-win_x86_64.zip"
          URL_3DSTEX: https://github.com/Cruel/3dstex/releases/download/1.1/3dstex-win-x86.exe
          executableExtension: ".exe"
          wgetPath: "C:\\msys64\\usr\\bin\\wget.exe"
        - os: macos-latest
          packageName: MacOS
          URL_ARMIPS: https://github.com/SydMontague/armips/releases/download/v0.11.0/armips_macos
          FILE_3DSTOOL: "3dstool_macos_x86_64.tar.gz"
          FILE_CTRTOOL: "ctrtool-v0.7-macos_x86_64.zip"
          FILE_MAKEROM: "makerom-v0.17-macos_x86_64.zip"
          URL_3DSTEX: https://github.com/Cruel/3dstex/releases/download/1.1/3dstex-osx-x64
          executableExtension: ""
          wgetPath: "wget"
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Build with Maven
      run: | 
        echo "<settings><servers><server><id>github</id><username>${{ secrets.GITHUB_USER }}</username><password>${{ secrets.GITHUB_TOKEN }}</password></server></servers></settings>" > ~/.m2/settings.xml
        mvn -B package --file pom.xml
    - name: Download Dependencies
      run: |
        ${{matrix.wgetPath}} -O target/armips${{matrix.executableExtension}} ${{matrix.URL_ARMIPS}}
        ${{matrix.wgetPath}} -O target/3dstex${{matrix.executableExtension}} ${{matrix.URL_3DSTEX}}
        ${{matrix.wgetPath}} -P target/ https://github.com/dnasdw/3dstool/releases/download/v1.2.6/${{matrix.FILE_3DSTOOL}}
        ${{matrix.wgetPath}} -P target/ https://github.com/3DSGuy/Project_CTR/releases/download/makerom-v0.17/${{matrix.FILE_MAKEROM}}
        ${{matrix.wgetPath}} -P target/ https://github.com/3DSGuy/Project_CTR/releases/download/ctrtool-v0.7/${{matrix.FILE_CTRTOOL}}
    - name: Copy Licenses
      run: |
        mkdir target/licenses
        cp LICENSE target/licenses/LICENSE
        cp THIRD-PARTY-NOTICE target/licenses/THIRD-PARTY-NOTICE
    
    # extract archives
    - uses: brunoborges/justextract@master
      with:
        file: target/${{ matrix.FILE_3DSTOOL }}
    - run: mv 3dstool${{matrix.executableExtension}} target/
    
    - uses: brunoborges/justextract@master
      with:
        file: target/${{ matrix.FILE_MAKEROM }}
    - run: mv makerom${{matrix.executableExtension}} target/
    
    - uses: brunoborges/justextract@master
      with:
        file: target/${{ matrix.FILE_CTRTOOL }}
    - run: mv ctrtool${{matrix.executableExtension}} target/
    
    # upload artifact
    - uses: actions/upload-artifact@v2
      with:
        name: ${{ matrix.packageName }}
        path: | 
          target/Decode-Randomizer.jar
          target/armips${{matrix.executableExtension}}
          target/3dstex${{matrix.executableExtension}}
          target/3dstool${{matrix.executableExtension}}
          target/makerom${{matrix.executableExtension}}
          target/ctrtool${{matrix.executableExtension}}
          target/licenses/*
